!!! 5
%html
  %head
    %title a-datamapper-example
    %link{ rel: 'stylesheet', href: '/application.css', type: 'text/css', medial: 'all' }
  %body
    %div.center{ style: 'margin:0 auto; width: 850px'}
      %h1
        %span.req a
        %span.imp 'datamapper'
        %span.req example
      = yield
