%h2 Add a new post
.new_post
  %form{:action => '/post/add', :method => 'post'}
    %table
      %tr
        %th
          title
        %td
          %input{:name => "title", :style => "margin-left:30px"}
      %tr
        %th
          body
        %td
          %textarea{:name => "body", :style => "margin-left:30px"}
      %tr
        %td
          %input{:type => 'submit', :value => 'Submit' }
